<h2>Top-10 Tweets <a class="btn btn-primary pull-right" href="/"><i
        class="icon-plus-sign icon-white"></i> Input Username</a></h2>

<table class="table table-hover">
    <tr>
        <th>
            UserName
        </th>
        <th>
            Favorite
        </th>
        <th>
            Retweet
        </th>
        <th>
            Text
        </th>
    </tr>
    <tr class="success-{{tweet.done}}" ng-repeat = "tweet in tweets">
        <td>
            {{tweet.username}}
        </td>
        <td>
            {{tweet.favorite}}
        </td>
        <td>
            {{tweet.retweet}}
        </td>
        <td>
            {{tweet.text}}
        </td>
    </tr>
</table>